@font-face {
    font-family: 'Krona One';
    src: url("../public/fonts/KronaOne-Regular.ttf") format('truetype');
    font-display:auto;
    font-style:normal;
    font-stretch:normal;
}

@font-face {
    font-family: 'Titan One';
    src: url("../public/fonts/TitanOne-Regular.ttf") format('truetype');
    font-display:auto;
    font-style:normal;
    font-stretch:normal;
}

@font-face {
    font-family: 'Damion';
    src: url("../public/fonts/Damion-Regular.ttf") format('truetype');
    font-display:auto;
    font-style:normal;
    font-stretch:normal;
}